* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #dfd64f;
}

.invisible {
  position: absolute !important;
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn {
  width: 50%;
  display: block;
  margin: 0 auto;
  height: 4em;
  border-radius: 3px;
  border: 1px solid transparent;
  background: #f3a949;
  color: #181818;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  width: 100%;
}

main h2 {
  margin: 0 auto;
  width: 100%;
  display: block;
  position: absolute;
  text-align: center;
  top: 17%;
  font-size: 3rem;
  visibility: visible;
  opacity: 1;
  -webkit-animation: fade 1s;
          animation: fade 1s;
  color: #181818;
}

main #play-again {
  position: absolute;
  width: 11em;
  height: 4em;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #181818;
  color: white;
  visibility: visible;
  opacity: 1;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

main #play-again:hover {
  opacity: 0.8;
}

main #menu {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  background: white;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

main #menu form {
  width: 80%;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main #menu form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #181818;
}

main #menu form label input {
  margin-top: 0.5em;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid grey;
  min-height: 50px;
  padding: 10px;
  outline: none;
}

main #menu #play-ai {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

main #board {
  display: -ms-grid;
  display: grid;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  visibility: visible;
  opacity: 1;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

main #board .tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

main #board .tile:nth-child(1), main #board .tile:nth-child(2), main #board .tile:nth-child(4), main #board .tile:nth-child(5) {
  border-bottom: 5px solid #4b4b4b;
  border-right: 5px solid #4b4b4b;
}

main #board .tile:nth-child(3), main #board .tile:nth-child(6) {
  border-bottom: 5px solid #4b4b4b;
}

main #board .tile:nth-child(7), main #board .tile:nth-child(8) {
  border-right: 5px solid #4b4b4b;
}

main #board .tile p {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-size: 6rem;
  line-height: 1.75rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

@media only screen and (max-height: 875px) {
  main h2 {
    top: 0;
  }
  main #play-again {
    top: 87%;
  }
}
/*# sourceMappingURL=style.css.map */